.rayout-check {
  background-color: antiquewhite;
  border: 1px solid black;
  height: 260px;
}

body {
  min-height: 100vh;
  color: #555;
  font-size: 12px;
}

.header {
  width: 980px;
  margin: 0 auto;
}

.header__logo {
  padding-top: 48px;
  float: left;
}

.header__above {
  text-align: right;
  padding-top: 15px;
}

.header__menu {
  text-align: right;
}

.header__item {
  margin-right: -5px;
}

.header__item_on {
  position: absolute;
  opacity: 0;
}

.header__item_on:hover {
  opacity: 0.9;
  transition-duration: 0.8s;
}

.header__item_twitterLogo_on {
  margin-bottom: 10px;
}

.header__item_twitterLogo_on:hover {
  opacity: 0.5;
  transition-duration: 0.8s;
}

.heroSlider {
  width: 980px;
  margin: 0 auto;
}

.sliderList {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 50px;
}

.sliderList__item {
  width: 200px;
  height: 181px;
  padding-top: 50px;
}

.sliderList__text {
  margin-top: 20px;
}

.main {
  background-color: #f1f1f1;
  background-image: radial-gradient(#e6e6e6 10%, transparent 20%), radial-gradient(#e6e6e6 10%, transparent 20%);
  background-size: 5px 5px;
  background-position: 0 0, 2px 2px;
}

.contents {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contents__box {
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 18px;
  box-shadow: 1px 1px 2px #CCC;
  box-shadow: 1px 1px 2px #CCC;
  line-height: 1.6;
}

.contents__box--firstRowCols {
  margin-top: 25px;
  box-sizing: border-box;
  width: calc(50% - 5px);
}

.contents__box--secondRowCols {
  width: 195px;
  height: 195px;
  margin-top: 10px;
}

.contents__box--thirdRowCols {
  width: 195px;
  height: 105px;
  margin-top: 10px;
  margin-bottom: 25px;
  position: relative;
  z-index: 10;
}

.contents__box--bgProducts {
  background-image: url(images/index_products_bk.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.contents__box--bgSite {
  background-image: url(images/index_media_bk.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.contents__box--bgAccess {
  background-image: url(images/index_company_bk.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.contents__box--bgRecruit {
  background-image: url(images/index_recruit_bk.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.contents__titleWrapper {
  position: absolute;
  background-color: #e9f2fd;
  right: 0;
  left: 0;
  top: 0;
  height: 40%;
}

.contents__title {
  position: relative;
  z-index: 10;
}

.contents__date {
  font-size: 10px;
  width: 50px;
}

.contents__item {
  display: flex;
  margin-top: 10px;
}

.contents__detail {
  width: 380px;
  margin-left: 12px;
}

.contents__text {
  margin-top: 27px;
}

.contents__link {
  color: #074996;
  text-decoration: none;
}

.contents__link:hover {
  text-decoration: underline;
}

.contents__list--topSpace {
  margin-top: 15px;
}

.footer {
  font-size: 10px;
  color: #949494;
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.sns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 10px;
}

.sns__image_mixi {
  width: 58px;
  height: 18px;
}

.sns__twitter {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 3px 8px 1px 6px;
  background-color: #22a7fa;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 6px;
}

.sns__image_twitter {
  height: 14px;
  width: 14px;
  vertical-align: middle;
}

.sns__facebook {
  height: 18px;
  background: #1977F2;
  border: 1px solid #1977F2;
  padding: 0 10px;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  white-space: nowrap;
  text-decoration: none;
}

.sns__image_facebook {
  height: 12px;
}

.sns__btn_hover:hover {
  opacity: 0.6;
}

.sns__btn_white {
  color: white;
  text-decoration: none;
}

.contents--footer {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.contents--footer .contents__title {
  margin-top: 35px;
  font-weight: bold;
}

.contentsListWrapper {
  width: 750px;
  display: flex;
}

.contentsVerticalBlock {
  text-align: left;
  border-left: 1px solid #e1e1e1;
  padding-left: 35px;
}

.contentsVerticalBlock__list {
  width: 220px;
  margin: 3px 0;
  line-height: normal;
}

.contentsVerticalBlock__link {
  text-decoration: none;
  color: #949494;
  font-size: 10px;
}

.contentsVerticalBlock__link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */